body {
            padding-top: 80px;
            background: #E0EAFC;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            margin-bottom: 40px;
            }


        }
        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 280px;
            background:
            /* color overlay */
            linear-gradient(
            rgba(240, 212, 0, 0.45),
            rgba(0, 0, 0, 0.45)
            ),
            /* image to overlay */
            url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg);
        }

        .footertext {
            color: #6b6b6b;
        }



        }

        .navbar-custom {
            color:#ffffff;
            border-radius:0;
            height:90px;
            font-size: 35px;

        }

        .navbar-custom .navbar-brand {
            color:#ffffff;
        }
        .navbar-custom .navbar-toggle {
            background-color:#eeeeee;
        }

        #trailer .modal-dialog {
            margin-top: 200px;
            width: 640px;
            height: 480px;
        }
        .hanging-close {
            position: absolute;
            top: -12px;
            right: -12px;
            z-index: 9001;
        }

        #trailer-video {
            width: 100%;
            height: 100%;
        }
        .movie-tile {
            color: white;
            margin-bottom: 0px;
            padding-top: 20px;
            height: 600px;
            overflow: hidden;

            -webkit-transition: background-color 0.5s ease;
            -moz-transition: background-color 0.5s ease;
            -o-transition: background-color 0.5s ease; /* opera browser */
            transition: background-color 0.5s ease;
        }
        .movie-tile:hover {

            cursor: pointer;
        }

        .movie-tile:hover .title-info {
            top: -220px;
        }
        .scale-media {
            padding-bottom: 56.25%;
            position: relative;
        }
        .scale-media iframe {
            border: none;
            height: 100%;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            background-color: white;
        }

        .title-info {
            position: relative;
            top: -40px;
            height: 220px;
            color: #6b6b6b;
            background: #ECE9E6;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




            -webkit-transition: top 0.5s ease;
            -moz-transition: top 0.5s ease;
            -o-transition: top 0.5s ease; /* opera browser */
            transition: top 0.5s ease;
        }

        .navbar-nav {
            padding-top: 4px;
            margin: 20px;
        }

        .img-responsive {
            display: block;
            max-width: 100%;
            height: 70px !important;

        }